[submodule "Fall 2023/MATH223"]
	path = Fall 2023/MATH223
	url = https://github.com/trevorswan11/MATH223.git
[submodule "Fall 2023/AIQS100"]
	path = Fall 2023/AIQS100
	url = https://github.com/trevorswan11/AIQS100.git
[submodule "Fall 2023/ENGR130"]
	path = Fall 2023/ENGR130
	url = https://github.com/trevorswan11/ENGR130.git
[submodule "Fall 2023/ENGR145"]
	path = Fall 2023/ENGR145
	url = https://github.com/trevorswan11/ENGR145.git
[submodule "Spring 2024/ANTH102"]
	path = Spring 2024/ANTH102
	url = https://github.com/trevorswan11/ANTH102.git
[submodule "Spring 2024/CHEM223"]
	path = Spring 2024/CHEM223
	url = https://github.com/trevorswan11/CHEM223.git
[submodule "Spring 2024/CSDS132"]
	path = Spring 2024/CSDS132
	url = https://github.com/trevorswan11/CSDS132.git
[submodule "Spring 2024/CSDS302"]
	path = Spring 2024/CSDS302
	url = https://github.com/trevorswan11/CSDS302.git
[submodule "Spring 2024/MATH224"]
	path = Spring 2024/MATH224
	url = https://github.com/trevorswan11/MATH224.git
[submodule "Spring 2024/PHYS121"]
	path = Spring 2024/PHYS121
	url = https://github.com/trevorswan11/PHYS121.git
[submodule "Fall 2024/CSDS233"]
	path = Fall 2024/CSDS233
	url = https://github.com/trevorswan11/CSDS233.git
[submodule "Fall 2024/ECHE225"]
	path = Fall 2024/ECHE225
	url = https://github.com/trevorswan11/ECHE225.git
[submodule "Fall 2024/ECHE260"]
	path = Fall 2024/ECHE260
	url = https://github.com/trevorswan11/ECHE260.git
[submodule "Fall 2024/EMAC270"]
	path = Fall 2024/EMAC270
	url = https://github.com/trevorswan11/EMAC270.git
[submodule "Fall 2024/MATH321"]
	path = Fall 2024/MATH321
	url = https://github.com/trevorswan11/MATH321.git
[submodule "Fall 2024/RLGN101"]
	path = Fall 2024/RLGN101
	url = https://github.com/trevorswan11/RLGN101.git
[submodule "Spring 2025/ENGR399"]
	path = Spring 2025/ENGR399
	url = https://github.com/trevorswan11/ENGR399.git
[submodule "Spring 2025/EMAC276"]
	path = Spring 2025/EMAC276
	url = https://github.com/trevorswan11/EMAC276
[submodule "Spring 2025/MGMT205"]
	path = Spring 2025/MGMT205
	url = https://github.com/trevorswan11/MGMT205
